/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* My Styles */
body {
  font-family: "proxima nova", "helvetica neue", helvetica, arial, sans-serif;
  background: white; }

h1 {
  font-size: 24px;
  margin-bottom: 1.5em; }

p {
  margin-bottom: 1.5em; }

a {
  color: blue;
  text-decoration: none;}

#header {
  width: 90%;
  margin: 20px auto;
  padding-bottom: 20px;
  max-width: 800px;
  border-bottom: 1px solid #c0c0c0; }

  #header h1 {
    font-weight: bold;
    margin: 0; }

  .iconlinks {
    float: right;
    font-size: .8em;
    line-height: 24px;}

    #header h1 a {
        text-decoration: none;
    border-bottom: none;
      color: #666666;
    padding: 0 3px;}

#bio {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 5% auto; }
  #bio h2 {
    font-weight: bold;
    color: black; }
  #bio p {
    color: #555555;
    line-height: 1.5em; }
